.w150{
    width: 150px;
}
.w200{
    width: 200px;
}
.w100{
    width: 100px;
}
.w50{
    width: 50px;
}
.content-page{
    margin-left: 0px !important;
}
.footer{
    left: 0px !important;
}
.wp2{
    width: 2%;
}